.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border: solid 1px var(--blue-calypso);
    border-radius: 20px;
  }

.name{
    grid-row: 1;
}

.vat {
     grid-row: 2;
}  

.email{
    grid-row: 3;
}

.pass{
    grid-row: 4;
    
}

